<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pc.huangshan.Mapper.OrderMapper">

  <select id="list" resultType="com.pc.huangshan.model.cwbb.OrderDO">
    SELECT
    oi.ORDER_TYPE as orderType,
    oi.ORDER_NO as orderNo,
    (
    CASE oi.ORDER_STATUS
    WHEN '0' THEN '待支付'
    WHEN '1' THEN '取消中'
    WHEN '2' THEN '取消失败'
    WHEN '3' THEN '已取消'
    WHEN '4' THEN '已过期'
    WHEN '5' THEN '订单成功'
    WHEN '6' THEN '订单完结'
    WHEN '7' THEN '全部退单'
    WHEN '8' THEN'待确认'
    ELSE oi.ORDER_STATUS
    END ) AS orderStatus,
    oi.PAY_TIME AS payTime,
    CASE oi.PAY_TYPE
    WHEN '4' THEN '银联'
    WHEN '6' THEN '备用金'
    WHEN '9' THEN '信用账户'
    WHEN '21' THEN 'PC支付宝'
    WHEN '22' THEN '支付宝'
    WHEN '31' THEN 'PC微信扫码支付'
    WHEN '32' THEN 'wap微信公众号支付'
    WHEN '33' THEN '微信小程序支付'
    WHEN '34' THEN '微信'
    WHEN '48' THEN '银联支付'
    WHEN '61' THEN'积分支付'
    WHEN '99' THEN '现金支付'
    WHEN '-1' THEN '零元支付' ELSE oi.PAY_TYPE END
    AS payType,
    od.ORDER_INFO AS orderInfo,
    oi.PRICE as oiPrice,
    oi.ORDER_SUM AS orderSum,
    od.AMOUNT AS amount,
    case oi.SYNC_STATUS
    when  '0' then '未同步'
    when  '1' then '同步成功'
    when  '2' then '同步失败'
    when  '3' then '同步中'
    ELSE oi.SYNC_STATUS END
     as syncStatus,
    oi.COUPON_SUM AS couponSum,
    oi.pay_sum as paySum,
    od.PRICE AS odPrice,
    od.PRICE*od.AMOUNT as jsSum,
    oi.pay_sum-od.PRICE*od.AMOUNT as ml,
    oi.LINK_NAME as linkName,
    oi.LINK_MOBILE as linkMobile,
    CONCAT(date_format(od.START_DATE,'%Y-%m-%d'),'~',date_format(od.END_DATE,'%Y-%m-%d')) AS startDate,
    oi.ORDER_GIFT as orderGift,
    oi.NOTE_BOOK as noteBook,
    oi.DISTRIBUTOR_NAME as distributorName
    FROM
    order_info oi
    INNER JOIN order_detail od ON oi.id = od.ORDER_ID
    WHERE
    oi.deleted = 'F'
    AND od.DELETED = 'F'
    and  oi.PAY_STATUS = '3'
    and oi.ORDER_STATUS !='7'
    <if test="type!=null and  type!=''">
      and od.ORDER_TYPE =#{type}
    </if>
    <if test="startTime!=null and  startTime!=''">
      AND od.END_DATE >= #{startTime}
    </if>
    <if test="endTime!=null and  endTime!=''">
      AND od.START_DATE &lt;#{endTime}
    </if>
    AND od.SUPPLY_ID not in ('1','2','3','53','55','363')
  </select>
</mapper>